/* General styles */
html {
    font-size: 16px; /* Default root font size */
  }
body {
    font-size: 1rem; 
    margin: 0;
    padding: 0;
    
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* Ensure image stays behind content */
    background-repeat: no-repeat;
    background-size: cover;
}

nav a:focus, nav a:hover {
    outline: 2px solid black;
}

/* Header Content */
header {
    background-color: rgb(101, 31, 87);
    padding: 15px 0px; /* add space to top and bottom */
    font-size: 1.25rem;
}

header nav {
    display: flex;
    justify-content: space-between; /* span content along header */
    align-items: center;
    padding: 0 10px; /* add more padding to far left and right */
    max-width: 1200px; /* limit maximum width for larger screens */
    margin: 0 auto; /* center align header content */
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px; 
}
header nav a:focus, nav a:hover {
    font-weight: bold;
}

nav a.active {
    font-weight: bold;
    color:rgb(244, 203, 236);
}
/* large screen, enable transform buttons */
@media (min-width: 769px){
    header nav a {
        transform: 0.5s; /* time to transform */
    }
    header nav a:hover {
        transform: scale(1.1); /* Get bigger when hovered */
    }
}
/* small screen, make sure header extends full screen */
@media (max-width: 768px) {
    header {
        padding: 15px 10px; /* adjust padding for smaller screens */
        font-size: 0.8rem;
    }
    header nav {
        padding: 0 2%; /* adjust padding for smaller screens */
    }
    header nav a {
        padding: 6px; /* reduce padding for links on smaller screens */
        margin: 0 5px; /* adjust margin for links on smaller screens */
    }
}


/* BUTTON TO CHANGE FONT SIZES */
#fontcontrol {
    position: absolute;
    top: 90px;
    left: 10px;
    text-align: center;
    width: 75px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #000;
    color: gray;
    cursor: pointer;
    background-color: #f9f9f9;
}
#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    z-index: 1;
    top: 90px;
    left: 10px;
    border: 1px solid #ccc;
}
.font-size-options,
.font-style-options {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}

#dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 1rem;
}

#dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown a:focus {
    outline: 2px solid  rgb(101, 31, 87);;
}
.dropdown:hover #dropdown-content {
    display: block;
}

.dropdown:hover #fontcontrol {
    background-color: #e0e0e0;
}
#fontcontrol span {
    display: inline;
}
#fontcontrol .small {
    font-size: 0.75em; 
}
#fontcontrol .large {
    font-size: 1.25em; 
}
.font-size-options .small {
    font-size: 0.75em; 
}
.font-size-options .medium {
    font-size: 1em;
}
.font-size-options .large {
    font-size: 1.25em; 
}

@media (max-width: 768px) {
    #fontcontrol {
        width: 40px;
        height: 30px;
    }
    #fontcontrol .small {
        font-size: 0.5em; 
    }
    #fontcontrol .large {
        font-size: .75em; 
    }
    #dropdown-content { 
        width: 60px;
    }
}

/* Main Content */ 
.keyphrase {
    font-size: 1.5rem;
    padding: 290px 200px; /* add space around text */
    text-align: center; /* center text */
    background-color: rgb(136, 105, 130);
    color: white;
}
/* small screen, make sure keyphrase isnt too big */
@media (max-width: 768px) {
    .keyphrase {
        padding: 55% 20%;
    }
}
@media (max-width: 480px) {
    .keyphrase {
        font-size: 0.9rem;
        padding: 55% 20%;
    }
}

.subtitle {
    font-size: 1.875rem;
    margin-bottom: 10px;
    margin-top: 10em;
    text-align: center;
    display: block;
    text-decoration: none; /* remove any hyperlinks styling */
    color: black;
    font-weight: bold; 
}
.about {
    max-width: 800px;
    text-align: center;
    margin: 0 auto; /* Add margin instead of padding */
}
.about p {
    font-size: 1.125rem;
    margin: 20px 0;
}
.about nav {
    font-size: 1.125rem;
    margin-top: 10px; /* separate link */
}
.about nav a {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(4, 95, 250);
    text-decoration: none;
}
@media (max-width: 768px) {
    .about {
        padding: 5%;
    }
}
@media (max-width: 480px) {
    .about {
        padding: 5%;
    }
    .about p {
        font-size: 0.7rem;
        margin: 0;
    }
    .about nav {
        font-size: 0.7rem;
        margin: 0;
    }
}
/* Findings */
.findings-info {
    display: flex;
    align-items: center; /* Center align vertically */
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 150px;
    font-size: 1.125rem;
}
.findings-info img {
    margin-right: 20px; /* Add space between image and text */
    width: 60%;
    height: auto;
}
.findings-info .text-content {
    display: flex;
    flex-direction: column; /* Arrange text content in a column */
    margin-left: 50px;
}
.findings-info p {
    line-height: 1.5;
}
.findings-info h5 a {
    font-size: 1.625rem;
}
.size350x350 {
    width: 350px;
    height: auto;
}
/* Media Findings */
@media (max-width: 991px) {
    .findings-info {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start */
        padding: 20px; /* Adjust padding for smaller screens */
        margin-bottom: 50px; /* Reduce margin-bottom for smaller screens */
    }

    .findings-info img {
        margin: 0px auto;
    }

    .findings-info .text-content {
        margin: 10%; /* Remove left margin on text content */
        padding-bottom: 30px;
    }
}
@media (max-width: 768px) {
    .findings-info {
        padding: 5%;
    }
}
@media (max-width: 480px) {
    .findings-info {
        font-size: 0.9rem;
        padding: 5%;
    }
}

/* Article */
.article-info {
    display: flex;
    align-items: center; /* Center align vertically */
    padding-left: 250px;
    padding-right: 250px;
    font-size: 1.125rem;
}
.article-info img {
    margin-right: 20px; /* Add space between image and text */
    width: 350px;
    height: auto;
}
.article-info .text-content {
    display: flex;
    flex-direction: column; /* Arrange text content in a column */
    margin-left: 50px;
}
.article-info p {
    line-height: 1.5;
}
.article-info h5 a {
    font-size: 1.563rem;
}

/* About Page */
.topic {
    font-size: 1.875rem;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    display: block;
    color: black;
    font-weight: bold; 
}

.about-page {
    max-width: 800px;
    text-align: center;
    margin: 200px auto; /* Add margin instead of padding */
}
.about-page p {
    font-size: 1.125rem;
    margin: 20px 0;
}
.about-page nav {
    font-size: 1.125rem;
    margin-top: 10px; /* separate link */
}
.about-page nav a {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(4, 95, 250);
    text-decoration: none;
}
@media (max-width: 768px) {
    .about-page {
        padding: 5%;
        margin: 250px auto;
    }
}
@media (max-width: 480px) {
    .about-page {
        padding: 5%;
        margin: 350px auto;
    }
    .about-page p {
        font-size: 0.7rem;
        margin: 0;
    }
    .about-page nav {
        font-size: 0.7rem;
        margin: 0;
    }
}

/* Articles Page */
.page-header {
    text-align: center;
    margin-bottom: 300px;
    margin-top: 200px;
}

.page-header p {
    font-size: 1.125rem;
}

.article-content {
    display: block; /* Ensure articles are stacked vertically */
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.article-one {
    width: 100%; /* Full width for each article */
    margin-bottom: 100px; /* Space between articles */

}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-row h5 a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
}

.info-row .article-date {
    font-size: 1.25rem;
}

.content-row {
    display: flex;
    flex-direction: row; /* Stack image and paragraph vertically */
    align-items: center;
    text-align: center;
}

.content-row img {
    max-width: 100%;
    width:200px;
    height: auto;
    margin-bottom: 10px; /* Space below image */
    padding: 10%;
}

.content-row p {
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: left;
}

/* Media Queries */

/* For tablets and smaller screens */
@media (max-width: 991px) {
    .article-one {
        padding: 10px;
        margin-bottom: 30%; /* Space between articles */
    }

    .content-row {
        text-align: left;
        flex-direction: column; /* Stack image and paragraph vertically */
    }

    .content-row img {
        margin: 10px 0; /* Add space above and below image */
        width: 100%
    }
}

@media (max-width: 768px) {
    .content-row {
        flex-direction: column; /* Stack image above text */
        align-items: center;
    }
    .content-row img {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .content-row p {
        font-size: 0.9rem;
    }
    .page-header {
        margin-bottom: 100px;
        margin-top: 50px;
    }
}

@media (max-width: 480px) {
    .page-header {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .content-row img {
        max-width: 100%;
        height: auto;
    }
}


/* Findings Page */
.findings-info h5 a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-style: bold;
}
        /* Reverse the arrangement for every other "finding" */
.findings-info.reverse {
    flex-direction: row-reverse;
}

.findings-info.reverse img {
    margin-left: 20px;
    width: 60%;
    height: auto;
}
/* Media Query for smaller screens */
@media (max-width: 991px) {
    .findings-info.reverse {
        flex-direction: column; 
    }
    .findings-info.reverse img {
            margin: 0px auto;
    }
}



/* Finding 1 Page */
#finding1 { /* add space below image */
    margin-top: 50px;
}
.finding1-info {
    line-height: 1.5;
    margin-left: 25%;
    margin-right: 25%;
}
.row-container {
    display: flex;
    justify-content: center; /* Center images horizontally */
    gap: 20px; /* space btwn images */
}

.row-container div {
    display: inline-block;
    text-align: center; /* Center content within each div */
}

.row-container div img {
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin-bottom: 20px; /* space btwn images vertically */
    width: 150px; /* Adjusted width for images */
}
@media (max-width: 768px) {
    .finding1-info {
        padding: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (max-width: 480px) {
    .finding1-info  {
        font-size: 0.9rem;
        padding: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* References */
.references {
    margin-top: 200px;
    display: flex;
    align-items: center; /* Center items vertically */
    font-size: 1.125rem;
    justify-content: center; /* Center horizontally */
}
.references h4 {
    font-size: 1.5rem;
    margin: 0;
    margin-right: 20px; /* Add space between the heading and the vertical bar */
}
.vertical-bar { /* for aesthetics */
    width: 3px;
    background-color: #000000; 
    border-radius: 5px;
}
.articles {
    display: flex;
    flex-direction: column; /* Links are listed vertically */
}
.articles a {
    margin-left: 50px; /* Space between bar and links */
    font-size: 1.125rem;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px; /* Add space between links */
}
@media (max-width: 768px) {
    .references {
        font-size: 0.9rem;
        margin-top: 50%;
    }
}
@media (max-width: 480px) {
    .finding1-info  {
        font-size: 0.9rem;
        padding: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}


/* Footer Content */
footer {
    background-color: rgb(99, 34, 86);
    color: #fff; /* text color */
    padding: 20px 0;
    text-align: center; /* center text */
    width: 100%;
    margin-top: 20%;
}
.footer-container {
    margin: 0 auto;
    padding: 0 20px;
}
#contact {
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
    display: block;
}
.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-info img {
    margin-right: 20px;
    width: 50px;
    height: auto
}
.contact-info p {
    margin: 0;
}
.contact-info a {
    color: #fff;
    text-decoration: none; /* no underlines */
}

@media (min-width: 769px){
    .contact-info a:hover {
        text-decoration: underline;
    }    
}
@media (max-width: 768px) {
    .contact-info {
        font-size: 2em;
    }
}
